[Desktop Entry]
Name=${HUMAN_APP_NAME}
Encoding=UTF-8
Exec=${CMAKE_INSTALL_PREFIX}/${CMAKE_INSTALL_BINDIR}/${APP_NAME}
Comment="Visualization for Purse Sense Decision Support"
Icon=${CMAKE_INSTALL_PREFIX}/${CMAKE_INSTALL_DATADIR}/${CMAKE_PROJECT_NAME}/FkinLogo.png
Type=Application
Categories=Fishery;SINTEF Ocean;MICT;Decision Support;
